- title 'Home page'
%br/
%br/
%br/
%br/
%center
  %h1.subheader
    Welcome to
    %i
      %u Syck::Syck
    error

  %h4.subheader
    Hello, I am the SyckSyck. I show up when someone tries to upload image with the delayed_job and Carrierwave together on the same project. How do you solve it?
  %br/
  %br/
  %h5.subheader
    Environment: ruby 1.9.3p448 (2013-06-27 revision 41675) [x86_64-darwin12.4.0]


%br/
%br/
%br/

.row
  %a{:href => usuarios_path}
    .large-6.columns
      .panel{:style => 'background: #e74c3c'}
        %center
          .icon-user{:style => 'font-size: 10em; color: #fff'}
      %center
        %h2.subheader There is error

  %a{:href => images_path}
    .large-6.columns
      .panel{:style => 'background: #2ecc71'}
        %center
          .icon-picture{:style => 'font-size: 10em; color: #fff'}
      %center
        %h2.subheader There isn't error