%br/
%br/
%br/
%br/
%br/
%br/
= simple_form_for(image, :validate => :js) do |f|
  %center
    - if image.image?
      = image_tag(image.image.url(:thumb))
    - else
      %h1.subheader.icon-picture{:style => 'font-size: 10em'}
    %br/
    %br/
    .large-4
      = f.input :image

      = f.button :submit, 'data-disable-with' => 'Salvando...', :class => 'button'
